# Python Data Structures Exercises

This notebook contains 30 practical exercises on Python data structures including strings, lists, tuples, sets, and dictionaries.

#### Question 1: Create a string with your name and print it

In [4]:
name = "priyesh"
print(name)

priyesh

#### Question 2: Find the length of the string "Hello World"

In [5]:
text = "Hello World"
print(f'The length of "{text}" is {len(text)}')

The length of "Hello World" is 11

#### Question 3: Slice the first 3 characters from the string "Python Programming"

In [6]:
string = "Python Programming"
new_string = string[0:3]
print(f"Original string: {string}")
print(f"First 3 characters: {new_string}")

Original string: Python Programming
First 3 characters: Pyt

#### Question 4: Convert the string "hello" to uppercase

In [7]:
str2 = "hello"
print(f"Original: {str2}")
print(f"Uppercase: {str2.upper()}")

Original: hello
Uppercase: HELLO

#### Question 5: Replace the word "apple" with "orange" in the string "I like apple"

In [8]:
str3 = "I like apple"
str4 = str3.replace("apple", "orange")
print(f"Original: {str3}")
print(f"After replace: {str4}")

Original: I like apple
After replace: I like orange

#### Question 6: Create a list with numbers 1 to 5 and print it

In [9]:
my_list = []
for x in range(1, 6):
    my_list.append(x)
print(f"List: {my_list}")

List: [1, 2, 3, 4, 5]

#### Question 7: Append the number 10 to the list [1, 2, 3, 4]

In [10]:
list2 = [1, 2, 3, 4]
print(f"Original list: {list2}")
list2.append(10)
print(f"After append(10): {list2}")

Original list: [1, 2, 3, 4]
After append(10): [1, 2, 3, 4, 10]

#### Question 8: Remove the number 3 from the list [1, 2, 3, 4, 5]

In [11]:
list3 = [1, 2, 3, 4, 5]
print(f"Original list: {list3}")
list3.pop(2)  # Remove element at index 2 (which is 3)
print(f"After pop(2): {list3}")

Original list: [1, 2, 3, 4, 5]
After pop(2): [1, 2, 4, 5]

#### Question 9: Access the second element in the list ['a', 'b', 'c', 'd']

In [12]:
list4 = ["a", "b", "c", "d"]
print(f"List: {list4}")
print(f"Second element (index 1): {list4[1]}")

List: ['a', 'b', 'c', 'd']
Second element (index 1): b

#### Question 10: Reverse the list [10, 20, 30, 40, 50]

In [13]:
list5 = [10, 20, 30, 40, 50]
print(f"Original list: {list5}")
list5.reverse()
print(f"Reversed list: {list5}")

Original list: [10, 20, 30, 40, 50]
Reversed list: [50, 40, 30, 20, 10]

#### Question 11: Create a tuple with elements 100, 200, 300 and print it

In [14]:
tup = (100, 200, 300)
print(f"Tuple: {tup}")

Tuple: (100, 200, 300)

#### Question 12: Access the second-to-last element of tuple ('red', 'green', 'blue', 'yellow')

In [15]:
tup2 = ("red", "green", "blue", "yellow")
print(f"Tuple: {tup2}")
print(f"Second-to-last element: {tup2[-2]}")
print(f"Also using [1:]: {tup2[1:]}")

Tuple: ('red', 'green', 'blue', 'yellow')
Second-to-last element: blue
Also using [1:]: ('green', 'blue', 'yellow')

#### Question 13: Find the minimum number in tuple (10, 20, 5, 15)

In [16]:
tup3 = (10, 20, 5, 15)
print(f"Tuple: {tup3}")
print(f"Minimum value: {min(tup3)}")

Tuple: (10, 20, 5, 15)
Minimum value: 5

#### Question 14: Find the index of element "cat" in tuple ('dog', 'cat', 'rabbit')

In [17]:
tup4 = ("dog", "cat", "rabbit")
print(f"Tuple: {tup4}")
print(f"Index of 'cat': {tup4.index('cat')}")

Tuple: ('dog', 'cat', 'rabbit')
Index of 'cat': 1

#### Question 15: Create tuple with fruits and check if "kiwi" is in it

In [18]:
tup5 = ("apple", "banana", "kiwi")
print(f"Tuple: {tup5}")
if "kiwi" in tup5:
    print(f"Yes, the tuple {tup5} has 'kiwi' in it")
else:
    print("Kiwi not found in the tuple")

Tuple: ('apple', 'banana', 'kiwi')
Yes, the tuple ('apple', 'banana', 'kiwi') has 'kiwi' in it

#### Question 16: Create a set with elements 'a', 'b', 'c' and print it

In [19]:
my_set = {"a", "b", "c"}
print(f"Set: {my_set}")

Set: {'a', 'c', 'b'}

#### Question 17: Clear all elements from set {1, 2, 3, 4, 5}

In [20]:
set2 = {1, 2, 3, 4, 5}
print(f"Original set: {set2}")
set2.clear()
print(f"After clear(): {set2}")

Original set: {1, 2, 3, 4, 5}
After clear(): set()

#### Question 18: Remove element 4 from set {1, 2, 3, 4}

In [21]:
set3 = {1, 2, 3, 4}
print(f"Original set: {set3}")
set3.remove(4)
print(f"After remove(4): {set3}")

Original set: {1, 2, 3, 4}
After remove(4): {1, 2, 3}

#### Question 19: Find union of sets {1, 2, 3} and {3, 4, 5}

In [22]:
set4 = {1, 2, 3}
set5 = {3, 4, 5}
union_set = set4.union(set5)
print(f"Set 1: {set4}")
print(f"Set 2: {set5}")
print(f"Union: {union_set}")

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Union: {1, 2, 3, 4, 5}

#### Question 20: Find intersection of sets {1, 2, 3} and {2, 3, 4}

In [23]:
set6 = {1, 2, 3}
set7 = {2, 3, 4}
intersection_set = set6.intersection(set7)
print(f"Set 1: {set6}")
print(f"Set 2: {set7}")
print(f"Intersection: {intersection_set}")

Set 1: {1, 2, 3}
Set 2: {2, 3, 4}
Intersection: {2, 3}

#### Question 21: Create dictionary with keys "name", "age", "city" and print it

In [24]:
dic = {"name": "priyesh", "age": 11, "city": "indore"}
print(f"Dictionary: {dic}")

Dictionary: {'name': 'priyesh', 'age': 11, 'city': 'indore'}

#### Question 22: Add a new key-value pair to dictionary

In [25]:
dic2 = {"name": "John", "age": 25}
print(f"Original dictionary: {dic2}")
dic2["country"] = "USA"
print(f"After adding 'country': {dic2}")

Original dictionary: {'name': 'John', 'age': 25}
After adding 'country': {'name': 'John', 'age': 25, 'country': 'USA'}

#### Question 23: Access value for key "name" in dictionary

In [26]:
dic3 = {"name": "Alice", "age": 30}
print(f"Dictionary: {dic3}")
print(f"Value for 'name': {dic3['name']}")

Dictionary: {'name': 'Alice', 'age': 30}
Value for 'name': Alice

#### Question 24: Remove the key "age" from dictionary

In [27]:
dic4 = {"name": "Bob", "age": 22, "city": "New York"}
print(f"Original dictionary: {dic4}")
dic4.pop("age")
print(f"After removing 'age': {dic4}")

Original dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}
After removing 'age': {'name': 'Bob', 'city': 'New York'}

#### Question 25: Check if key "city" exists in dictionary

In [28]:
dic5 = {"name": "Alice", "city": "Paris"}
print(f"Dictionary: {dic5}")
if "city" in dic5:
    print(f"Yes, 'city' exists in {dic5}")
else:
    print("City is not present")

Dictionary: {'name': 'Alice', 'city': 'Paris'}
Yes, 'city' exists in {'name': 'Alice', 'city': 'Paris'}

#### Question 26: Create list, tuple, and dictionary, and print them all

In [29]:
list6 = ["priyesh", 11, 3.14, True]
tup6 = ("priyesh", 9, 11.01, False)
dic6 = {"name": "priyesh", "id": 111, "planet": "3453pier"}

print(f"List: {list6}")
print(f"Tuple: {tup6}")
print(f"Dictionary: {dic6}")

List: ['priyesh', 11, 3.14, True]
Tuple: ('priyesh', 9, 11.01, False)
Dictionary: {'name': 'priyesh', 'id': 111, 'planet': '3453pier'}

#### Question 27: Create list of numbers, sort in ascending order

In [30]:
list7 = [45, 23, 67, 12, 89]
print(f"Original list: {list7}")
list7.sort()
print(f"Sorted list: {list7}")

Original list: [45, 23, 67, 12, 89]
Sorted list: [12, 23, 45, 67, 89]

#### Question 28: Create list with strings and print element at third index

In [31]:
list8 = ["apple", "banana", "cherry", "date", "elderberry"]
print(f"List: {list8}")
print(f"Element at index 2 (third element): {list8[2]}")

List: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Element at index 2 (third element): cherry

#### Question 29: Combine two dictionaries into one

In [32]:
dic7 = {"name": "priyesh", "age": 11}
dic8 = {"city": "indore", "fav-lang": "python"}

print(f"Dictionary 1: {dic7}")
print(f"Dictionary 2: {dic8}")

dic7.update(dic8)
print(f"Combined dictionary: {dic7}")

Dictionary 1: {'name': 'priyesh', 'age': 11}
Dictionary 2: {'city': 'indore', 'fav-lang': 'python'}
Combined dictionary: {'name': 'priyesh', 'age': 11, 'city': 'indore', 'fav-lang': 'python'}

#### Question 30: Convert list of strings into a set

In [33]:
list9 = ["apple", "banana", "apple", "orange", "banana"]
print(f"Original list: {list9}")
set9 = set(list9)
print(f"Converted to set: {set9}")

Original list: ['apple', 'banana', 'apple', 'orange', 'banana']
Converted to set: {'banana', 'apple', 'orange'}